<app-encabezado/>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card">
                <ul [ngClass]="'list-group list-group-flush'">
                    <li class="list-group-item"
                        *ngFor="let i of libros;">
                        <span><a href="https://www.google.com/search?q={{i.autor}}" target="_blank">buscar</a></span>
                        Libro: {{i.titulo}}
                        <a (click)="mostratAutor(i)" class="badge text-bg-primary text-decoration-none">+informacion</a> | 
                        <a (click)="agregarLibro(i)"  [routerLink]="['/sabermas', i.id ]" >saber mas ..</a> 
                    </li>
                </ul>
                <div class="alert alert-warning" *ngIf="errorHttp">
                    No se puede mostrar la lista.
                  </div>
            </div>
        </div>
    </div>
</div>