<div class="mb-5"></div>
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <div class="card p-5" *ngIf="valor1">
                <h1>{{title}} Uno</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate hic temporibus necessitatibus quis voluptatibus ducimus consectetur, accusamus excepturi commodi velit quibusdam explicabo, quisquam provident voluptatem, deleniti sunt? Sunt, repudiandae ipsam.</p>
            </div>
        </div>
        <div class="col">
            <div class="card p-5" >
                <h1>{{title}} Dos</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate hic temporibus necessitatibus quis voluptatibus ducimus consectetur, accusamus excepturi commodi velit quibusdam explicabo, quisquam provident voluptatem, deleniti sunt? Sunt, repudiandae ipsam.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-primary" (click)="valor1:boolean =true">boton uno</button>
    <button class="btn btn-danger">boton Dos</button>
</div>
