<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <ul [ngClass]="'list-group list-group-flush'">
                    <li class="list-group-item"
                        *ngFor="let i of libros;
                        index as indice;
                        first as esPrimero;
                        last as esUltimo;
                        odd as esPar;
                        even as esInpar;
                        ">
                        <span><a href="https://www.google.com/search?q={{i.autor}}" target="_blank">buscar</a></span>
                        Libro: {{i.titulo}}
                        <a (click)="mostratAutor(i)" class="badge text-bg-primary text-decoration-none">+informacion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
